@import url("./tooltip.css");
@import url("./photo-gallery.css");
@import url("./meme-generator.css");
@import url("./header.css");

/* removing img/text selection */
* {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}


:root {
    /* colors */
    --clr1: #E5E5E5;
    --clr2: #fff;
    --clr3: #989898;
    --clr4: #FF9826;
}


body {
    overflow-x: hidden;
    background-color: var(--clr1);
    margin: 0;
}

.selected {
    color: var(--clr4);
    transition: color .2s;
}

img {
    cursor: pointer;
}

canvas {
    display: block;
    margin: 0 auto;
    /* outline: 1px solid black; */
    background-color: white;
    font-family: Impact;
}

.meme-generator {
    display: none;
}

.disable-scroll {
    overflow-y: hidden;
}

/* helpers */

.clean-list {
    list-style: none;
}

.flex {
    display: flex;
}



/* media queries */

@media (max-width: 1000px) {
    .image-item {
        width: 200px;
    }

    .photo-container {
        justify-items: center;
    }
}

@media (max-width: 1010px) {
    .image-item {
        width: 200px;
    }

    .photo-container {
        justify-items: center;
    }
}

@media (max-width: 1070px) {
    .image-item {
        width: 300px;
    }

    .photo-container {
        justify-items: center;
    }
}

@media (max-width: 900px) {
    body.menu-open .selected {
        color: white;
    }
}