@import url("./tooltip.css");
@import url("./photo-gallery.css");
@import url("./meme-generator.css");
@import url("./header.css");

/* removing img/text selection */
* {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}


:root {
    /* colors */
    --clr1: #E5E5E5;
    --clr2: #fff;
    --clr3: #989898;


    /*  */
}


body {
    background-color: var(--clr1);
    margin: 0;
}

/* tooltips import */

img {
    cursor: pointer;
}

canvas {
    display: block;
    margin: 0 auto;
    /* outline: 1px solid black; */
    background-color: white;
    font-family: Impact;
}

.meme-generator {
    display: none;
}




/* helpers */

.clean-list {
    list-style: none;
}

.flex {
    display: flex;
}