/* meme generator */
.meme-generator {
    height: 88vh;
}

.item-container {
    height: 29vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 5fr;
    grid-template-areas:
        ". a-left a-mid a-right ."
        "addTxt txtColor increase decrease change"
        "txt txt txt txt txt"
    ;
    gap: 5px;
}

.canvas-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50px 2fr 1fr 1fr;
    grid-template-rows: 50px 20px 1fr;
    grid-template-areas:
        ".canvas . ."
        ".canvas aside . "
        ".canvas . ."
    ;
    gap: 10px;
    justify-items: center;
}

canvas {
    grid-area: canvas;
}

aside {
    grid-area: aside;
    height: 20vh;
    flex-direction: column;
}


.meme-txt {
    border-radius: 5px;
    border: none;
    height: 6em;
    padding-left: 20px;
    padding-right: 10vh;
    grid-area: txt;
}

.enter-txt {
    grid-area: addTxt;
    font-size: 2em;
}


.increase-font {
    grid-area: increase;
}

.decrease-font {
    grid-area: decrease;
}

.change-line {
    grid-area: change;
}

#meme-color {
    grid-area: txtColor;
    height: 100%;
    width: 100%;
    border: none;
    -webkit-appearance: none;
}

#meme-color::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 10%;
    height: 100%;
    width: 100%;
}

#meme-color::-webkit-color-swatch {
    border: none;
    border-radius: 10%;
    height: 100%;
    width: 100%;
}

.increase-font,
.decrease-font {
    font-size: 1.2rem;
}

.font-icon {
    position: relative;
    bottom: 8px;
    right: 5px;
    font-size: 1.2rem;
    z-index: 1;
}

body.menu-open .font-icon {
    z-index: -1;
}


.align img {
    width: 45%;
    height: 55%;
    justify-self: center;
    cursor: default;
}

.meme-btn {
    background-color: rgb(202, 202, 202);
    width: 70px;
    border: none;
    border-radius: 15%;
    transition: background-color .1s;
}

.meme-btn:hover {
    background-color: rgb(150, 150, 150);
}

.align-left {
    grid-area: a-left;
}


.align-mid {
    grid-area: a-mid;
}

.align-right {
    grid-area: a-right;
}

@media (max-width: 800px) {

    canvas {
        width: 335px;
    }

    .back-to-gallery {
        position: relative;
        top: 65px;
    }

    .canvas-container {
        margin-top: 70px;
        height: 100vh;
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: 6fr 8fr;
        grid-template-areas:
            "canvas ."
            "aside ."
        ;
    }

    #meme-color {
        grid-area: txtColor;
        height: 100%;
        width: 100%;
    }

    .item-container {
        height: 29vh;
        display: grid;
    }

    .back-to-gallery {
        display: none;
    }
}

@media (max-width: 1000px) {
    canvas {
        width: 535px;
    }

    .canvas-container {
        margin-top: 70px;
        height: 50vh;
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: 6fr 8fr;
        grid-template-areas:
            "canvas ."
            "aside ."
        ;
    }

    #meme-color {
        grid-area: txtColor;
        height: 100%;
        width: 100%;
    }

    .item-container {
        height: 29vh;
        display: grid;
        margin-right: 0;
        margin-top: 2%;
    }
}

@media (max-width: 400px) {

    body {
        overflow-x: hidden;
    }

    canvas {
        width: 335px;
    }

    .item-container {
        margin: 10px 15px 0;
        gap: 5px;
    }

    .back-to-gallery {
        display: none;
    }
}